/* variables */
:root {
  /* colors */
  --silver-medal: #D6D6D5;
  --dark-salmon: #dc4038;

  /* fonts variables */
  --font-display: 'Agent Alpha', sans-serif;
  --font-mono: 'Orde Mono', monospace;

}

/* fonts import */
@font-face {
  font-family: 'Agent Alpha';
  src: url('https://pub-8677baedc0b74d588d038030cb561ffd.r2.dev/fonts%2Fagent-alpha.woff2') format('woff2');
}

@font-face {
  font-family: 'Orde Mono';
  src: url('https://pub-8677baedc0b74d588d038030cb561ffd.r2.dev/fonts%2Forde-mono.woff2') format('woff2');
}


/* CSS reset */
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

h1, h2, h3, h4, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */

body {
  background-color: var(--silver-medal);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100dvh - 40px);
  margin: 20px;
  border: var(--dark-salmon) solid 1.5px;

}

